body{
    font-family: Arial,sans-serif;
    background-color:hsl(0, 6%, 75%) ;
}

h1{
    color:hsl(240, 69%, 65%)
}

form{
    background-color: hsl(0, 11%, 88%);
    text-align: center;
    max-width: 350px;
    margin:auto;
    border-radius: 20px;
    padding:20px;
    box-shadow: 5px 5px 20px;

}

#textbox{
    width:50%;
    text-align: center;
    font-size:1.3em;
    border-radius :5px;
    border:1px solid;
    margin-bottom: 15px;
    
}

label{
    font-size:1.5em;
    font-weight: bold;
}

button{
    color:hsl(180, 33%, 92%);
    background-color: hsla(214, 80%, 52%, 0.97);
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
}

#result{
    color:hsl(0, 6%, 19%);
    font-size: 1.2em;
    font-weight: bold;
}